#addCliente{
    display: flex;
    margin-top: -2.7%;
    height: 5%;
    width: 20%;
    background-color: #fff;
    border: 0.2vw solid #000;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 3vw;
    margin-left: 74.5%;
    color: #000;
}

.link {
    text-decoration: none;
    color: #000;
    font-size: 90%;
}